@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/raleway-normal.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/raleway-italic.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('assets/fonts/roboto-mono-normal.woff2') format('woff2');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('assets/fonts/roboto-mono-italic.woff2') format('woff2');
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}